body{
    background: linear-gradient(#2b6d7f, #340f49);
}
h1{
    font-family: "Brush Script MT";
    background-color: #86c2ff;
    color: black;
    opacity: 30%;
    height: 50px;
    width: 100%;
    margin-left: -7px;
    margin-top: -7px;
    padding-left: 15px;
    padding-top: 9px;
}
.wrap{
    display: flex;
}
.oneTwo{
    display: flex;
    justify-content: space-evenly;
}
.one{
    background-color: #e7e9eb;
    opacity: 70%;
    color: black;
    font-family: "Arial Narrow";
    text-shadow: 1px 1px 2px rgb(68, 10, 20);
    height: 57px;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0.1px 1px black;
    overflow: hidden;
}
.two{
    background-color: #e7e9eb;
    opacity: 70%;
    color: black;
    font-family: "Arial Narrow";
    text-shadow: 1px 1px 2px rgb(68, 10, 20);
    height: 57px;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0.1px 1px black;
    overflow: hidden;
}
.wikipedia{
    background-color: #e7e9eb;
    color: black;
    font-family: "Arial Narrow";
    text-shadow: 1px 1px 2px rgb(68, 10, 20);
    height: 258px;
    width: calc(100% 0px);
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    margin: 0% auto;
    opacity: 70%;
    box-shadow: 0.1px 1px black;
    overflow: hidden;
}
.img{
    text-align: center;
    margin: 15px auto;
    opacity: 70%;
}
.signUp{
    color:black;
    background-color: darkorange;
    height: 40px;
    width: 255px;
    font-family: "Arial Narrow";
    text-shadow: 1px 1px 2px rgb(68, 10, 20);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0.1px 1px black;
    overflow: hidden;
    padding-top: 12px;
    margin: 0% auto;
}
button{
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 2px rgb(68, 10, 20);
    opacity: 70%;
    border-radius: 5px;
    cursor:pointer;
}
.txt{
    font-family: "Arial Narrow";
    color: black;
    text-shadow: 1px 1px 2px rgb(68, 10, 20);
    background-color: #e7e9eb;
    opacity: 70%;
    border-radius: 5px;
    width: 440px;
    height: 60px;
    text-align: center;
    margin: 5px;
}
.left {
    width: 75%;
}
.right {
    width: 25%;
    text-align: center;
}
